<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InfiniteStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <InfiniteStorage.Properties.Settings>
      <setting name="ServerId" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomPhotoLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomVideoLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomAudioLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="OrganizeMethod" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SingleFolderLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RejectOtherDevices" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>WARN</value>
      </setting>
      <setting name="IsFirstUse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowBackupProgressDialog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LabelPhotoToday" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LabelVideoToday" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LabelPhotoThisWeek" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LabelVideoThisWeek" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LabelPhotoYesterday" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LabelVideoYesterday" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LibraryName" serializeAs="String">
        <value />
      </setting>
      <setting name="HomeSharingPasswordRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HomeSharingPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="UserEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="UserHash" serializeAs="String">
        <value />
      </setting>
      <setting name="UserRegistered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupId" serializeAs="String">
        <value />
      </setting>
    </InfiniteStorage.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <!--<connectionStrings>
    <add name="InfiniteStorageContext" connectionString="Data Source=|DataDirectory|\database.s3db" providerName="System.Data.SQLite" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>