<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfiniteStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InfiniteStorage.Properties.Settings>
            <setting name="ServerId" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomPhotoLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomVideoLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomAudioLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="OrganizeMethod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SingleFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationType" serializeAs="String">
                <value>0</value>
            </setting>
        </InfiniteStorage.Properties.Settings>
    </userSettings>
</configuration>