<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waveface.sync"
    android:versionCode="6"
    android:versionName="1.0.5" >

    <uses-sdk android:minSdkVersion="9"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" android:required="true" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <application
        android:name="com.waveface.sync.Starter"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.waveface.sync.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.waveface.sync.ui.FirstUseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.waveface.sync.ui.CleanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.waveface.sync.ui.AddServerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        
        <provider
            android:name="com.waveface.sync.provider.SyncProvider"
            android:authorities="com.waveface.sync"
            android:exported="false"
            android:syncable="true" />

        <receiver 
            android:enabled="true" 
            android:exported="false" 
             android:name="com.waveface.sync.service.InfiniteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.waveface.sync.action.INFINITE_STORAGE_ALARM"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.waveface.sync.service.InfiniteService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="2de93f37d61a80e50febf2dfa9e0b80d5105afd0" />

    </application>

</manifest>