<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define AppCode = "InfiniteStorage" ?>
  <?define AppProductCode = "{2fc96c10-c0e0-43aa-8bc9-00c6b9cca391}" ?>
  <?define AppVersionMajor = "0" ?>
  <?define AppVersionMinor = "5" ?>
  <?define AppVersionPatch = "0" ?>
  <?define AppVersionBuild = "0" ?>
  <?define AppVersion = "$(var.AppVersionMajor).$(var.AppVersionMinor).$(var.AppVersionPatch).$(var.AppVersionBuild)" ?>
  <?define AppManufacturer = "Waveface" ?>
  <?define DefaultCulture = "en-US" ?>
  <Product Id="$(var.AppProductCode)" Name="$(var.AppCode)" Language="!(loc.LANGUAGE)" Version="$(var.AppVersion)" Manufacturer="$(var.AppManufacturer)" UpgradeCode="{2e15093a-8bab-4e3b-9b33-043057fea922}">
    <Package Id="*" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="no" />
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="TEST" Value="NO" />
    <!-- <Icon Id="icon.ico" SourceFile="..\ProductBuild\sampleIcon.ico" /> -->

    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="!(loc.APPNAME)">
          <Component Id="pmd" Guid="{971d558a-99d6-40cc-89ed-f24620bfcf4b}">
            <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.AppCode)\ProgramMenuDir" Type="string" Value="ProgramMenuDir" KeyPath="yes" />
            <RemoveFolder Id="ProgramMenuDirRF" On="uninstall" />

            <Shortcut Id="ProgMenu.Shortcut.MainEntry" Name="!(loc.APPNAME)"
                      WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]InfiniteStorage.exe">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="com.waveface.infiniteStorage.app"></ShortcutProperty>
            </Shortcut>
            
            <Shortcut Id="ProgMenu.Shortcut.Uninstaller" Name="!(loc.SHORTCUT.UNINSTALLER.NAME)"
                      WorkingDirectory="INSTALLDIR" Target="[UninstallDir]Uninstaller.exe" Arguments="!(loc.CULTURE)" />
            
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <?include Product.Uninstaller.wxi ?>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.AppCode)">

          <Component Id="EntityFramework.dll" Guid="*">
            <File Id="EntityFramework.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\EntityFramework.dll" />
          </Component>

          <Component Id="InfiniteStorage.exe.config" Guid="*">
            <File Id="InfiniteStorage.exe.config" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\InfiniteStorage.exe.config" />
          </Component>

          <Component Id="System.Data.SQLite.dll" Guid="*">
            <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\System.Data.SQLite.dll" />
          </Component>

          <Component Id="System.Data.SQLite.Linq.dll" Guid="*">
            <File Id="System.Data.SQLite.Linq.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\System.Data.SQLite.Linq.dll" />
          </Component>
          
          <Component Id="InfiniteStorage.exe" Guid="*">
            <File Id="InfiniteStorage.exe" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\InfiniteStorage.exe" />
          </Component>

          <Component Id="Interop.Bonjour.dll" Guid="*">
            <File Id="Interop.Bonjour.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Interop.Bonjour.dll" />
          </Component>

          <Component Id="log4net.dll" Guid="*">
            <File Id="log4net.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\log4net.dll" />
          </Component>

          <Component Id="Newtonsoft.Json.dll" Guid="*">
            <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Newtonsoft.Json.dll" />
          </Component>

          <Component Id="websocketsharp.dll" Guid="*">
            <File Id="websocketsharp.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\websocket-sharp.dll" />
          </Component>

          <Directory Id="x86_folder" Name="x86">
            <Component Id="SQLite.Interop.dll.x86" Guid="*">
              <File Id="SQLite.Interop.dll.x86" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\x86\SQLite.Interop.dll" />
            </Component>
          </Directory>


          <Directory Id="x64_folder" Name="x64">
            <Component Id="SQLite.Interop.dll.x64" Guid="*">
              <File Id="SQLite.Interop.dll.x64" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\x64\SQLite.Interop.dll" />
            </Component>
          </Directory>
          
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id='MainFeature' Level='1' Title='!(loc.FEATURE.MAINFEATURE.TITLE)' Description='!(loc.FEATURE.MAINFEATURE.DESCRIPTION)' Display='collapse'>
      <ComponentRef Id='pmd'/>
      <ComponentRef Id='InfiniteStorage.exe' />
      <ComponentRef Id="Interop.Bonjour.dll" />
      <ComponentRef Id="log4net.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="websocketsharp.dll" />
      
      <ComponentRef Id="EntityFramework.dll" />
      <ComponentRef Id="InfiniteStorage.exe.config" />
      <ComponentRef Id="System.Data.SQLite.dll" />
      <ComponentRef Id="System.Data.SQLite.Linq.dll" />
      <ComponentRef Id="SQLite.Interop.dll.x86" />
      <ComponentRef Id="SQLite.Interop.dll.x64" />
      
    </Feature>

    <!--
    <Binary Id="SharpSetupCAFile" SourceFile="$(var.SharpSetupToolsDir)\SharpSetup.CustomActions.CA.dll"/>
    <CustomAction Id="SampleCAData" Property="SampleCA" Value="CommandLine=C:\Windows\system32\ping.exe -n 10 127.0.0.1;ApproximateTime=10" Return="check" />
    <CustomAction Id="SampleCA" DllEntry="ExeCustomAction" BinaryKey="SharpSetupCAFile" Return="check" Execute="deferred" />
    <InstallExecuteSequence>
      <Custom Action="SampleCAData" Before="SampleCA"/>
      <Custom Action="SampleCA" Before="InstallFinalize"/>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="SampleCA">Sample Custom Action</ProgressText>
    </UI>
    -->
  </Product>
</Wix>