<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire='http://schemas.microsoft.com/wix/FirewallExtension'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define AppCode = "FavoriteHome" ?>
  <?define AppProductCode = "{BD5E16BF-C2F1-4FAC-AD89-98CF3E8845D4}" ?>
  <?define AppVersionMajor = "1" ?>
  <?define AppVersionMinor = "0" ?>
  <?define AppVersionPatch = "0" ?>
  <?define AppVersionBuild = "0" ?>
  <?define AppVersion = "$(var.AppVersionMajor).$(var.AppVersionMinor).$(var.AppVersionPatch).$(var.AppVersionBuild)" ?>
  <?define AppManufacturer = "Waveface" ?>
  <?define DefaultCulture = "en-US" ?>
  <Product Id="$(var.AppProductCode)" Name="$(var.AppCode)" Language="!(loc.LANGUAGE)" Version="$(var.AppVersion)" Manufacturer="$(var.AppManufacturer)" UpgradeCode="{7666345E-5B12-4DF3-9945-1428247B0E5A}">
    <Package Id="*" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="no" />
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="TEST" Value="NO" />
    <!-- <Icon Id="icon.ico" SourceFile="..\ProductBuild\sampleIcon.ico" /> -->

    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
      
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="!(loc.APPNAME)">
          <Component Id="pmd" Guid="{971d558a-99d6-40cc-89ed-f24620bfcf4b}">
            <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.AppCode)\ProgramMenuDir" Type="string" Value="ProgramMenuDir" KeyPath="yes" />
            <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Type="string" Name="com.waveface.FavoriteHome"  Value="&quot;[INSTALLLOCATION]InfiniteStorage.exe&quot;" />
            
            <RemoveFolder Id="ProgramMenuDirRF" On="uninstall" />

            <Shortcut Id="Desktop.Shortcut.Fav" Name="!(loc.APPNAME)"
                      WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]InfiniteStorage.exe" Directory="DesktopFolder">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="com.waveface.infiniteStorage.app"></ShortcutProperty>
            </Shortcut>

            <Shortcut Id="ProgMenu.Shortcut.MainEntry" Name="!(loc.APPNAME)"
                      WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]InfiniteStorage.exe">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="com.waveface.infiniteStorage.app"></ShortcutProperty>
            </Shortcut>
            
            <Shortcut Id="ProgMenu.Shortcut.Uninstaller" Name="!(loc.SHORTCUT.UNINSTALLER.NAME)"
                      WorkingDirectory="INSTALLDIR" Target="[UninstallDir]Uninstaller.exe" Arguments="!(loc.CULTURE)" />
            
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <CustomAction Id="AddUrlAcl" Directory="INSTALLLOCATION"
                      ExeCommand="[SystemFolder]netsh.exe http add urlacl url=http://+:14005/ user=users"
                      Return="ignore" Execute="deferred" />

    <InstallExecuteSequence>
      <Custom Action="AddUrlAcl" Before="InstallFinalize"><![CDATA[NOT Installed AND VersionNT >= 601]]></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="AddUrlAcl">!(loc.SetUrlAcl)</ProgressText>
    </UI>
    
    
    <?include Product.Uninstaller.wxi ?>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.AppCode)">

          <Component Id="CultureSetting" Guid="{5F519BAE-D3FC-47BE-A679-40C8833097F0}">
            <RegistryKey Root="HKCU" Key="Software\BunnyHome">
              <RegistryValue Type="string" Name="Culture" Value="!(loc.CULTURE)" KeyPath="yes"/>
            </RegistryKey>
          </Component>

          <Component Id="EntityFramework.dll" Guid="*">
            <File Id="EntityFramework.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\EntityFramework.dll" />
          </Component>

          <Component Id="InfiniteStorage.exe.config" Guid="*">
            <File Id="InfiniteStorage.exe.config" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\InfiniteStorage.exe.config"/>
            <fire:FirewallException Id="fwrule1" Name="Bunny" IgnoreFailure="yes" Scope="localSubnet" Program="[INSTALLLOCATION]InfiniteStorage.exe"/>
            <fire:FirewallException Id="fwrule2" Name="bonjour.fw.1" Program="$(env.PROGRAMFILES)Bonjour\mDNSResponder.exe" IgnoreFailure="yes" Scope="localSubnet" />
            <fire:FirewallException Id="fwrule3" Name="bonjour.fw.2" Program="$(env.PROGRAMFILES(X86))Bonjour\mDNSResponder.exe" IgnoreFailure="yes" Scope="localSubnet" />
            
            <fire:FirewallException Id="fwrule4" Name="FavoriteHome REST" Port="14005" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
            <fire:FirewallException Id="fwrule5" Name="FavoriteHome WEB" Port="12888" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
            <fire:FirewallException Id="fwrule6" Name="FavoriteHome Backup" Port="13995" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
            <fire:FirewallException Id="fwrule7" Name="FavoriteHome Notify" Port="14005" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
          </Component>

          <Component Id="System.Data.SQLite.dll" Guid="*">
            <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\System.Data.SQLite.dll" />
          </Component>

          <Component Id="System.Data.SQLite.Linq.dll" Guid="*">
            <File Id="System.Data.SQLite.Linq.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\System.Data.SQLite.Linq.dll" />
          </Component>
          
          <Component Id="InfiniteStorage.exe" Guid="*">
            <File Id="InfiniteStorage.exe" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\InfiniteStorage.exe" />
          </Component>

          <Component Id="InfiniteStorage.db.dll" Guid="*">
            <File Id="InfiniteStorage.db.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\InfiniteStorage.db.dll" />
          </Component>

          <Component Id="Waveface.Client.exe" Guid="*">
            <File Id="Waveface.Client.exe" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Waveface.Client.exe">
              <netfx:NativeImage Id="ngen_Waveface.Client.exe" Platform="32bit" Priority="0"/>
            </File>
          </Component>

          <Component Id="Microsoft.Expression.Controls.dll" Guid="*">
            <File Id="Microsoft.Expression.Controls.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Microsoft.Expression.Controls.dll" />
          </Component>
          
          <Component Id="Microsoft.Expression.Drawing.dll" Guid="*">
            <File Id="Microsoft.Expression.Drawing.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Microsoft.Expression.Drawing.dll" />
          </Component>

          <Component Id="Waveface.ClientFramework.dll" Guid="*">
            <File Id="Waveface.ClientFramework.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Waveface.ClientFramework.dll">
              <netfx:NativeImage Id="ngen_Waveface.ClientFramework.dll" Platform="32bit" Priority="0"/>
            </File>
          </Component>

          <Component Id="Waveface.Model.dll" Guid="*">
            <File Id="Waveface.Model.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Waveface.Model.dll">
              <netfx:NativeImage Id="ngen_Waveface.Model.dl" Platform="32bit" Priority="0"/>
            </File>
          </Component>

          <Component Id="Waveface.Client.exe.config" Guid="*">
            <File Id="Waveface.Client.exe.config" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Waveface.Client.exe.config" />
          </Component>

          <Component Id="Mono.Zeroconf.dll" Guid="*">
            <File Id="Mono.Zeroconf.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Mono.Zeroconf.dll" />
          </Component>
          
          <Component Id="System.Windows.Interactivity.dll" Guid="*">
            <File Id="System.Windows.Interactivity.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\System.Windows.Interactivity.dll" />
          </Component>         
          
          <Component Id="Mono.Zeroconf.Providers.Bonjour.dll" Guid="*">
            <File Id="Mono.Zeroconf.Providers.Bonjour.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Mono.Zeroconf.Providers.Bonjour.dll" />
          </Component>

          <Component Id="MZClient.exe" Guid="*">
            <File Id="MZClient.exe" KeyPath="yes" Source="$(var.SolutionDir)\Libs\Mono.Zeroconf\MZClient.exe" />
          </Component>

          <Directory Id="Resources" Name="Resources">
            <Component Id="Empty.png" Guid="*">
              <File Id="Empty.png" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Resources\Empty.png" />
            </Component>
          </Directory>
          
          <Directory Id="nginx" Name="nginx">

            <Component Id="nginx.exe" Guid="*">
              <File Id="nginx.exe" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\nginx.exe" />
              <fire:FirewallException Id="fwrule8" Name="Bunny.nginx" IgnoreFailure="yes" Scope="localSubnet" Program="[INSTALLLOCATION]nginx\nginx.exe"/>
            </Component>

            <Directory Id="nginx.conf.dir" Name="conf">
              
              <Component Id="koiutf" Guid="*">
                <File Id="koiutf" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\conf\koi-utf" />
              </Component>

              <Component Id="koiwin" Guid="*">
                <File Id="koiwin" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\conf\koi-win" />
              </Component>

              <Component Id="mime.types" Guid="*">
                <File Id="mime.types" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\conf\mime.types" />
              </Component>

              <Component Id="nginx.conf.template" Guid="*">
                <File Id="nginx.conf.template" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\conf\nginx.conf.template" />
              </Component>

              <Component Id="winutf" Guid="*">
                <File Id="winutf" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\conf\win-utf" />
              </Component>
              
            </Directory>

            <Directory Id="nginx.html.dir" Name="html">
              <Component Id="_50x.html" Guid="*">
                <File Id="_50x.html" KeyPath="yes" Source="$(var.SolutionDir)\Libs\nginx-1.2.3\html\50x.html" />
              </Component>
            </Directory>

            <Directory Id="nginx.logs.dir" Name="logs" >
              <Component Id="nginx.logs.dir.empty" Guid="DAD40998-A9B8-4CE0-BFA8-C3D031121A9E">
                <CreateFolder />
              </Component>
            </Directory>

            <Directory Id="nginx.temps.dir" Name="temps">
              <Component Id="nginx.temps.dir.empty" Guid="57F4AB77-770E-4BE7-9249-7148BAB849A8">
                <CreateFolder />
              </Component>
            </Directory>
            
          </Directory>




          <Component Id="log4net.dll" Guid="*">
            <File Id="log4net.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\log4net.dll" />
          </Component>

          <Component Id="Newtonsoft.Json.dll" Guid="*">
            <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\Newtonsoft.Json.dll" />
          </Component>

          <Component Id="websocketsharp.dll" Guid="*">
            <File Id="websocketsharp.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\websocket-sharp.dll" />
          </Component>

          <Component Id="NBug.dll" Guid="*">
            <File Id="NBug.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\NBug.dll" />
          </Component>

          <Component Id="NBug.config" Guid="*">
            <File Id="NBug.config" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\NBug.config" />
          </Component>

          
          
          <Component Id="AppLimit.NetSparkle.dll" Guid="*">
            <File Id="AppLimit.NetSparkle.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\AppLimit.NetSparkle.dll" />
          </Component>


          <Directory Id="zhTW" Name="zh-TW">
            <Component Id="AppLimit.NetSparkle.resources.dll_zhTW" Guid="*">
              <File Id="AppLimit.NetSparkle.resources.dll" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\zh-TW\AppLimit.NetSparkle.resources.dll" />
            </Component>

            <Component Id="InfiniteStorage.resources.zhtw" Guid="*">
              <File Id="InfiniteStorage.resources.zhtw" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\zh-TW\InfiniteStorage.resources.dll" />
            </Component>
            
          </Directory>
          
          <Directory Id="x86_folder" Name="x86">
            <Component Id="SQLite.Interop.dll.x86" Guid="*">
              <File Id="SQLite.Interop.dll.x86" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\x86\SQLite.Interop.dll" />
            </Component>
          </Directory>

          <Directory Id="x64_folder" Name="x64">
            <Component Id="SQLite.Interop.dll.x64" Guid="*">
              <File Id="SQLite.Interop.dll.x64" KeyPath="yes" Source="$(var.SolutionDir)\Bin\$(var.InfiniteStorage.Configuration)\x64\SQLite.Interop.dll" />
            </Component>
          </Directory>
          
        </Directory>
      </Directory>
    </DirectoryRef>

    <?include PhotoShare.wxi ?>
    
    <Feature Id='MainFeature' Level='1' Display='collapse'>
      <ComponentRef Id='pmd'/>
      <ComponentRef Id='InfiniteStorage.exe' />
      <ComponentRef Id='InfiniteStorage.db.dll' />
      <ComponentRef Id='Waveface.Client.exe'/>
      <ComponentRef Id='Microsoft.Expression.Drawing.dll'/>
      <ComponentRef Id="Microsoft.Expression.Controls.dll"/>
      <ComponentRef Id='Waveface.ClientFramework.dll'/>
      <ComponentRef Id='Waveface.Model.dll'/>

      
      <ComponentRef Id='Waveface.Client.exe.config'/>

      <ComponentRef Id="Mono.Zeroconf.dll" />
      <ComponentRef Id="Mono.Zeroconf.Providers.Bonjour.dll" />
      <ComponentRef Id="MZClient.exe" />
      <ComponentRef Id="log4net.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="websocketsharp.dll" />
      <ComponentRef Id="NBug.dll" />
      <ComponentRef Id="NBug.config" />
      <ComponentRef Id="AppLimit.NetSparkle.dll" />
      <ComponentRef Id="AppLimit.NetSparkle.resources.dll_zhTW" />
      <ComponentRef Id="System.Windows.Interactivity.dll"/>

      <ComponentRef Id="EntityFramework.dll" />
      <ComponentRef Id="InfiniteStorage.exe.config" />
      <ComponentRef Id="System.Data.SQLite.dll" />
      <ComponentRef Id="System.Data.SQLite.Linq.dll" />
      <ComponentRef Id="SQLite.Interop.dll.x86" />
      <ComponentRef Id="SQLite.Interop.dll.x64" />

      <ComponentRef Id="nginx.exe"/>
      <ComponentRef Id="koiutf"/>
      <ComponentRef Id="koiwin"/>
      <ComponentRef Id="mime.types"/>
      <ComponentRef Id="nginx.conf.template"/>
      <ComponentRef Id="winutf"/>
      <ComponentRef Id="_50x.html"/>
      <ComponentRef Id="nginx.logs.dir.empty"/>
      <ComponentRef Id="nginx.temps.dir.empty"/>
      <ComponentRef Id="Empty.png"/>
      <ComponentRef Id="CultureSetting"/>
      <ComponentRef Id="InfiniteStorage.resources.zhtw" />

      <ComponentGroupRef Id="photoSharedFiles" />
    </Feature>

    <!--
    <Binary Id="SharpSetupCAFile" SourceFile="$(var.SharpSetupToolsDir)\SharpSetup.CustomActions.CA.dll"/>
    <CustomAction Id="SampleCAData" Property="SampleCA" Value="CommandLine=C:\Windows\system32\ping.exe -n 10 127.0.0.1;ApproximateTime=10" Return="check" />
    <CustomAction Id="SampleCA" DllEntry="ExeCustomAction" BinaryKey="SharpSetupCAFile" Return="check" Execute="deferred" />
    <InstallExecuteSequence>
      <Custom Action="SampleCAData" Before="SampleCA"/>
      <Custom Action="SampleCA" Before="InstallFinalize"/>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="SampleCA">Sample Custom Action</ProgressText>
    </UI>
    -->
  </Product>
</Wix>
